.polje{
  background-image: url(../img/tile.png);
  background-size: cover;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.Y{
  background-image: url(../img/tileY.png);
  background-color: yellow;
}

.R{
  background-image: url(../img/tileR.png);
  background-color: red;
}

.wrapG{
  position: absolute;
  top:109px;
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
}

.igralnaP{
  line-height: 0;
  display: inline-block;
  height: auto;
}

.vnosImen{
  display: inline-block;
  height: auto;
  vertical-align: middle;
  width: 100%;
  height: 500px;
}

.vnosImen *{
  display: inline-block;
}

.igralci{
  display: block;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 110px;
  background-color: #b3b3b3;
  
}

.igralci div{
  margin: 5px 0;
  display: block;
}
.btns{
  width: 150px;
  position: absolute;
  left: 200px;
  margin: auto;
}
.i1, .i2{
  display: inline-block;
  position: absolute;
  margin: 0;
  font-weight: bold;
}

.i1{
  left: 10px;
}

.i2{
  text-align: right;
  right: 10px;
}

.i1 img, .i2 img{
  height: 64px;
  display: block;
  margin: 0 20px;
  float: left;
}

.score {
  float: left;
  display: block;
  line-height: 64px;
}
