body{
  background-color: #aaa;
  margin: 0;
}

header {
  display: block !important;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #a3a3a3;
  min-width: 300px;
}

.wCommand{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  -webkit-app-region: no-drag;
}

.wCommand a{
  display: inline-block;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
  cursor: default;
  line-height: 24px;
  height: 25px;
  width: 25px;
  margin: 0;
}

.wCommand a img{
  height: 25px;
}

.wCommand a:hover {
  background-color: #8c8c8c
}

.wrap {
  position: absolute;
  top:0;
  left:0px;
  height: 100%;
  width: 100%;
  margin: 0;

}

.content{
  margin: 0;
  padding: 0;
}
